openai
pygame
streamlit
requests

# LangChain
langchain
langchain-openai
langchain-chroma
langchain-community
langchain-text-splitters
rank_bm25
flashrank
pypdf

# 백엔드 (Docker)
fastapi
uvicorn
gunicorn
